body {
  background-image: url(/src/map.jpg);
  background-size: auto;
  font-family: 'Merriweather', serif;
}

h1, p  {
  background-color: skyblue;
  width: 36%;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.map {
  margin-left: 38%;
}

#title {
  margin-left: 32%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Merriweather', serif;
}

.latLngForm {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 35px;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  height: 110px;
}

.addressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  font-family: 'Merriweather', serif;
}
